@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
}
.cursor_pointer {
  cursor: pointer;
}
.ff_poppins {
  font-family: "Poppins", sans-serif !important;
}
.l_h120 {
  line-height: 120%;
}
.max_width {
  max-width: 119px;
}
.gap_40 {
  gap: 40px;
}
.py_23 {
  padding: 23px 0px 23px 0px;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
.py_spacing {
  padding: 100px 0px 140px 0px;
}
.top_icon{
  max-width: 30px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #d0006f;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 30px;
}

#myBtn:hover {
  background-color: #F8DBEB;
}
.max_w {
  max-width: 109px;
}
.py_140 {
  padding: 140px 0px 140px 0px;
}
.l_h32 {
  line-height: 32px;
}
.l_h50 {
  line-height: 50px;
}
.l_h36 {
  line-height: 36px;
}
.l_h40 {
  line-height: 40px;
}

.start_btn {
  background: linear-gradient(97.1deg, #d0006f 4.95%, #0055b2 94.87%);
  color: white;
  padding: 20px 40px 20px 40px;
  border: none;
  border-radius: 50px;
  transition: all 300ms linear;

}
.start_btn:hover{
  background: linear-gradient(67.1deg, #d0006f 4.45%, #0055b2 64.87%);
  transition: all 300ms linear;
  
}
.max_w24 {
  max-width: 24px;
}
p {
  margin-bottom: 0 !important;
}
.w_100 {
  max-width: 100%;
}

.hero_bgclr {
  background: #d0006f24;
  margin: 0px 70px 0px 70px;
  border-radius: 30px;
}
.pt_20 {
  padding-top: 20px;
}
.h_425 {
  max-height: 890px;
}
.phn_w {
  max-width: 315px;
}
.input_btn {
  max-width: 234px;
  background-color: #e6f2ff;
  padding: 6px 5px 6px 20px;
  border-radius: 50px;
  outline: none !important;
  border: none !important;
}
.border_radius {
  border-radius: 50px;
  padding: 12px;
}
.gap_16 {
  gap: 16px;
}
.pt_64 {
  padding-top: 64px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #ffff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 14px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  transition: all linear 300ms;
}

.dropdown:hover svg {
  transform: rotate(180deg);
}
.max_h {
  max-height: 486px;
}
.ptb_spacing {
  padding-top: 80px;
  padding-bottom: 60px;
}
.pt_130 {
  padding-top: 130px;
}
.facbook_icon path {
  fill: white !;
}
.lines {
  max-width: 100%;
  background: #909398;
}
.footer_logo {
  max-width: 66px;
}
.icon {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #4a494e;
  transition: all 300ms linear;
}
.icon:hover {
  border: transparent;
  background: #d0006f;
}
.icon:hover .fill_clr path {
  fill: white;
  transition: all 300ms linear;
}
.icon:hover .fill_clr1 path {
  stroke: white;
  transition: all 300ms linear;
}
.try_btn{
  gap: 16px;
  transition: all 300ms linear;
}
.try_btn:hover{
  gap: 20px;
  transition: all 300ms linear;

}
.img_hover{
  transition: all 300ms linear;

}
.img_hover:hover{
  transform: scale(1.2);
  transition: all 300ms linear;
}
.footer_clr{
  color: #46484b;
  transition: all 300ms linear;
}
.footer_clr:hover{
  color: #0055b2;
  transition: all 300ms linear;
}
.outline_none{
  outline: none !important;
}
@media (max-width: 991.9px) {
  .md_screen {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background-color: #faf8ed;
    transition: 600ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .line1,
  .line2,
  .line3 {
    width: 40px;
    min-height: 4px;
    background-color: #d0006f;
    transition: 300ms linear;
    cursor: pointer;
  }

  .cross .line1 {
    transform: rotate(49deg) translate(18px, 16px);
  }

  .cross .line2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross .line3 {
    transform: rotate(-45deg) translateY(-13%);
  }
  .ml_lg_0 {
    margin-left: 0;
  }
  .mt_lg_30px {
    margin-top: 30px;
  }
  .hero_bgclr {
    background: #d0006f24;
    margin: 0px;
    border-radius: 30px;
  }

  .overflow_hidden {
    overflow: hidden;
  }
  .column_reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .bg_clr1{
    background: #F8DBEB;
  }
  .max_h {
    max-height: 100%;
  }
  .ptb_spacing {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .py_spacing {
    padding: 50px 0px 70px 0px;
  }
  .py_140 {
    padding: 80px 0px 80px 0px;
  }
  .pt_130 {
    padding-top: 70px;
  }
}

@media (max-width: 576px) {
  .start_btn {
    padding: 13px 17px 13px 17px;
  }
  .input_btn {
    max-width: 100%;  
  }
  .py_spacing {
    padding: 35px 0px 35px 0px;
  }
  .py_140 {
    padding: 35px 0px 35px 0px;
  }
  .l_h32 {
    line-height: 24px;
  }
  .pt_20 {
    padding-top: 13px;
  }
  .ptb_spacing {
    padding-top: 35px;
    padding-bottom: 12px;
  }
  .l_h50 {
    line-height: 30px;
  }
  .l_h36 {
    line-height: 23px;
  }
  .pt_130 {
    padding-top: 35px;
  }
  .py_23 {
    padding: 15px 0px 15px 0px;
}
.hero_bgclr {
  border-radius: 0px;
}
}

@media (min-width: 1538px) {
  .img_width {
    max-width: 734px;
    max-height: 758px;
  }
  .max_wimg {
    max-width: 903px;
  }
}
@media (min-width: 991.9px) {
  .w_577 {
    max-width: 577px;
  }
}
